body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .home__inputContainer {
    border: 1px solid #000000;
    display: flex;
    border-radius: 9999px;
    box-shadow: 1px 1px 3px black;
  }
  
  .home__inputContainer > input {
    width: 300px;
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
  }
  
  .home__center {
    text-align: center;
    margin-bottom: 30px;
  }